/* .posts{
  flex: 9;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin:20px;
} */

.posts{
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width:550px){
  .posts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}