.article-page--container{
  /* display: flex;
  min-width: 720px;
  max-width: 1020px;
  margin: 0 auto; */
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 1020px;
  margin: 0 auto;
}

@media (min-width:720px){
  .article-page--container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    border: 2px solid red;
  }
}